@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: 'LINESeedKR-Bd';
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}